.flexBox {
  display: flex;
  flex-wrap: wrap;

  height: 100%;
  width: 100%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}